* {
    font-family: cursive;
}

body {
    background-image: url(./wallpaper.png);
    background-size:cover;
}

.topBar {
    display: flex;
    justify-content: space-between;
    width: 99%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 20px;
    padding: 0 10px;
}

.topBar p {
    background-color: rgba(256, 256, 256, 0.25);
    padding: 4px 12px; 
    border-radius: 12px;
}

#lastPlayedTrack {
    margin-left: 6px;
}

.window {
    border: solid; 
    width: 512px; 
    border-radius: 12px; 
    padding: 0px 30px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

#happy {
    width: 100px;
    height: 100px
}